<article class="grid">
  <button type="button" {{on "click" this.loginAsRider}}>
    Login as Rider
  </button>

  <button type="button" {{on "click" this.loginAsDriver}}>
    Login as Driver
  </button>
</article>